* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

body {
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: rgb(75, 75, 75);
}

h1,
h2,
h3,
a {
	font-family: 'Bitter', serif;
	font-weight: 400;
	color: rgb(105, 105, 105);
}

.container {
	width: 100vw;
	min-width: 320px;
	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
	height: auto;

	display: flex;
	flex-direction: column;
}

header {
	flex-basis: 10vh;
	display: flex;
	justify-content: space-between;
	padding: 0 3vw;
}

header h1 {
	align-self: center;
}

header nav {
	align-self: center;
	display: flex;
}
header nav a {
	display: block;
	margin-left: 2vw;
	padding: 0.5vw 1vw;

	font-size: 1.1rem;
	text-decoration: none;
	border: 2px solid transparent;
}

header nav a:hover,
header nav a.active {
	border-bottom: 2px solid rgba(105, 105, 105, 0.5);
}

main {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 2vh;
}

main > aside {
	flex-basis: 20%;
}

main > aside > div {
	padding: 3% 10%;
}

main > aside > div > * {
	border-bottom: 2px solid rgba(105, 105, 105, 0.3);
	margin-bottom: 2vh;
}

main > aside > div > h3 {
	text-transform: capitalize;
}

.news {
	font-size: 0.9rem;
	padding-bottom: 5px;
}

.news > * {
	font-size: 1.1rem;
	padding-bottom: 7px;
}

.news > h2 > a {
	font-size: 1.1rem;
	text-decoration: none;
}

.news > strong,
.news > em {
	color: rgb(155, 155, 155);
	font-size: 0.7rem;
}

.news > strong {
	text-transform: uppercase;
}

main > section {
	flex: 1 1 55%;
}

main > section > article {
	padding: 1% 5%;
}

main > section > article > * {
	display: block;
	padding-bottom: 1.5vh;
}

main > section > article > h2 {
	color: rgb(155, 155, 155);
	font-size: 0.9rem;
}

main > section > article > em {
	color: rgb(155, 155, 155);
	font-size: 0.9rem;
}

main > section > article > img {
	width: 100%;
}

.social {
	text-align: right;
}

.social > a {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../Image/social_icons.png);
	background-repeat: no-repeat;
	background-size: 300%;
	opacity: 0.7;
}

.social > a.fb {
	background-position: 0 0;
}

.social > a.tw {
	background-position: 50% 0;
}

.social > a.inst {
	background-position: 100% 0;
}

main > section + aside {
	flex-basis: 20%;
}

main > section + aside figure * {
	display: block;
	padding-bottom: 7px;
}

main > section + aside figure img {
	opacity: 0.5;
	width: 32px;
	height: 32px;
}

main > section + aside figure figcaption {
	font-size: 0.9rem;
}

main > section + aside figure figcaption em {
	color: rgb(155, 155, 155);
	font-size: 0.7rem;
}

footer {
	flex-basis: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 960px) {
	main > section + aside {
		display: none;
	}

	main > aside {
		flex-basis: 30%;
	}

	main > section {
		flex-basis: 70%;
	}
}

@media screen and (min-width: 500px) and (max-width: 570px) {
	header {
		flex-basis: auto;
		flex-direction: column;
	}
	main {
		flex-direction: column;
	}
	main > aside {
		flex-basis: 20vh;
	}
	main > aside > div {
		padding: 3% 5%;
	}
	main > section {
		flex-basis: auto;
		order: -1;
	}
}
