@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Lobster', cursive;
    background-color: #b4b4b4;
}

article {
    width: 1000px;
    margin: 40px auto;
    padding: 20px 150px 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.7);
}

#main {
    border: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logo {
    float: left;
}

.slogan {
    float: right;
    font-size: .7rem;
    text-align: right;
    color: #909090;
    width: 30%;
}

/* main */
.clearFix::before, .clearFix::after{
    content: '';
    display: table;
}
/* вытаскиваем лого из маин */
.clearFix::after {
    clear: both;
}

#logo img {
    width: 100px;
}

.alignleft {
    float: left;
    width: 60px;
    margin-right: 15px;
}

.alignright {
    float: right;
    width: 100px;
    margin-left: 15px;
}

.block {
    padding: 30px;
}

/* псевдокласс четные нечетные*/
.block:nth-child(odd) {
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
}