/* common.css */
@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f0f0f0;
	font-family: Montserrat, Arial, sans-serif;
	font-weight: 500;
}
a {
	color: #0f1384;
}
a:hover {
	color: #151abc;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.justify-content-between {
	justify-content: space-between;
}

[class*='column-'] {
	padding-left: 15px;
	padding-right: 15px;
	min-width: 1px;
	max-width: 100%;
}
.column-2 {
	flex: 0 0 50%;
}
.column-3 {
	flex: 0 0 33.33%;
}
.mb {
	margin-bottom: 20px;
}
.text-center {
	text-align: center;
}
.heading {
	font-size: 3rem;
	line-height: 1.5;
	text-align: center;
	margin: 3.5rem 0;
	color: #1a1a1a;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
.img-border {
	border: 4px solid #dbdbdb;
	transition: 0.5s;
}
.tab:hover .img-border,
.testimonial:hover .img-border,
.img-border:hover {
	border-color: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
}
.btn {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-decoration: none;
	background: #0f1384;
	cursor: pointer;
	transition: 0.5s;
}
.btn:hover {
	background: #8488f8;
	text-decoration: none;
}

/* style.css */
@keyframes moveLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes moveRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
}

header {
	height: 500px;
	background: url(../Image/header.jfif) no-repeat center #0f1384;
	background-size: cover;
	color: #fff;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

h1 {
	font-size: 3em;
	animation: moveLeft 0.5s ease-out 0.3s backwards;
}

header h2 {
	font-size: 2em;
	animation: moveRight 0.5s ease-out 0.8s backwards;
}

#footer {
	background-color: #0f1384;
	color: #fff;
	margin-top: 3.5rem;
	padding: 20px 0;
}

#footer .row {
	margin: 0;
}

#footer a {
	color: #c0d9fc;
	display: inline-block;
	margin-left: 5px;
}

/*--- Menu ---*/

.main-nav {
	position: fixed;
	top: 0px;
	z-index: 10;
	width: 100%;
	padding: 10px;
	background: #fff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.38);
	min-height: 65px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
}

nav ul li {
	margin-left: 35px;
	line-height: 1.5;
	letter-spacing: 1px;
}

nav ul a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	padding-bottom: 4px;
	transition: 0.5s;
}

nav ul a:hover {
	color: #989898;
	border-bottom-color: #989898;
}

.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 22px;
	top: 20px;
	width: 30px;
}

/* gallery.css */
.portfolio-item {
	margin: 0.5rem 0;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	overflow: hidden;
	border: 4px solid transparent;
	transition: 400ms ease-out;
}

.portfolio-item img {
	display: block;
	border: 4px solid #dbdbdb;
	transition: 400ms ease-out;
}

.portfolio-item:hover {
	border-color: #fff;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.38);
}

.portfolio-item:hover img {
	transform: scale(1.15);
}
.portfolio-item::after {
	content: attr(data-descr); /*!!!*/
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	padding: 20% 15px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 1.5rem;
	transition: 500ms ease-out 200ms;
	pointer-events: none;
}
.portfolio-item:hover::after {
	top: 20%;
}
/* contact.css */
label {
	display: inline-block;
	margin-bottom: 10px;
}
input,
textarea {
	height: 38px;
	width: 100%;
	padding: 6px 10px;
	background-color: #fff;
	border: none;
	box-shadow: none;
	border-radius: 0;
	outline: none;
}
input:focus,
textarea:focus {
	box-shadow: 0 0 12px rgba(15, 19, 132, 0.38);
}
textarea {
	min-height: 145px;
}

/* teams.css */
.tab {
	flex: 1 0 20%;
	cursor: pointer;
	overflow: hidden;
	transition: flex-basis 500ms ease-in-out;
	position: relative;
}

.tab:hover {
	flex-basis: 35%;
	overflow: visible;
}
.tab:hover .tab-details {
	opacity: 1;
}
.name {
	font-size: 1.3em;
}

.speciality {
	font-size: 1.1em;
	font-weight: bold;
}

.tab-details {
	opacity: 0;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.57);
	list-style-type: none;
	line-height: 2;
	width: 200px;
	position: absolute;
	top: 0;
	left: 50%;
	transition: 0.5s;
}

.tab-info {
	text-align: center;
}
.tab:hover .tab-info {
	margin-left: 20%;
}
.tab:hover .tab-details {
	left: 0;
}

/* testimonial.css */

.testimonial {
	display: -webkit-inline-flex;
	display: -ms-inline-flex;
	display: inline-flex;
	transition: 0.5s;
	height: 100%;
	background-color: #fff;
}

.testimonial:hover {
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.38);
}

.testimonial-author {
	display: block;
	margin: 20px;
	align-self: flex-start;
}

.testimonial-body {
	margin: 20px;
}

.testimonial-body p {
	margin-top: 0;
	text-align: justify;
}

.testimonial-body footer {
	text-align: right;
	font-weight: bold;
	font-style: italic;
	padding-top: 15px;
	border-top: 2px solid #dbdbdb;
}

/* responsive.css */
@media (max-width: 960px) {
	header {
		height: 450px;
		background-image: url(../Image/header2.jfif);
	}

	.column-3 {
		flex-basis: 50%;
	}

	.portfolio-item {
		margin-bottom: 0;
		padding-top: 0;
	}

	.portfolio-item:hover {
		box-shadow: none;
	}

	.portfolio-item:hover img {
		transform: scale(1.05);
	}

	.portfolio-item::after,
	.portfolio-item:hover::after {
		top: auto;
		width: calc(100% - 38px);
		left: 19px;
		bottom: 25px;
		padding: 20px 15px;
	}

	.testimonial-body,
	.testimonial-author {
		margin: 15px;
	}

	.testimonial-author {
		width: 120px;
	}

	.tab,
	.tab:hover {
		flex: 0 0 calc(50% - 30px);
	}

	.tab {
		background-color: #fff;
		padding-top: 20px;
		margin: 0 15px 25px;
	}

	.tab:hover .tab-info {
		margin-left: 0;
	}

	.tab-details {
		opacity: 1;
		position: static;
		background-color: transparent;
		width: auto;
		text-align: center;
		padding-top: 0;
	}
}

@media (max-width: 768px) {
	header {
		padding: 15px;
		text-align: center;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.column-2 {
		flex-basis: 100%;
	}

	.mobile-toggle {
		display: block;
	}

	.mobile-toggle span {
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
		background: #000000;
		display: block;
	}

	nav {
		display: none;
	}

	.main-nav.open nav {
		display: block;
	}

	nav ul {
		display: block;
	}

	nav ul li {
		width: 100%;
		padding: 7px 0;
		margin: 0;
		text-align: center;
	}

	nav ul li:first-child {
		margin-top: 30px;
	}

	#footer div {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 2em;
	}

	header h2 {
		font-size: 1.5em;
	}
	.heading {
		font-size: 2.5rem;
		margin: 2rem 0;
	}
	.tab,
	.tab:hover {
		flex-basis: calc(100% - 30px);
	}

	header {
		height: 350px;
		background-image: url(../Image/header3.jfif);
	}

	[class*='column-'] {
		flex-basis: 100%;
	}

	.testimonial {
		display: block;
		padding-top: 5px;
		padding-bottom: 15px;
	}

	.testimonial-author {
		margin: 20px auto;
	}
}
