h1{
        font-size: 50 px;
    font-family: Arial ;
    line-height: 80px;
    text-align:-moz-left;
}
ul {
    font-family: Candara;
    font-weight: bold;
}
    #myInform{
        color: purple;
        font-family: Candara;
        text-align: right
    }


img{
    width: 14%;
    float: right;
    padding-right: 3px;

}
hr{
    background-color: darkmagenta;
    height: 2px;
}


p{
    font-style: italic;
    font-weight: bold;
}
h2{
    text-decoration: underline;
    font-family: Candara;
    line-height: 30px;
    color: indianred;


}
div{
    display: inline-block;
    width:170px;
    height: 1000px;
    background-color: burlywood;
    float: right;
    padding-right: 150px
}

