*{ /*выравниваем страницу по всему экрану*/
    /* padding: 0; */
    margin: 0;
} 

/* body {
    padding: 0;
    margin: 0;
} */

h2 {
    color: rgb(252, 13, 13);
    font-size: 50px;
}

.someStyle {
    color: rgb(252, 13, 13);
    font-size: 50px;
}

#h5, #h6 {
    color: rgb(252, 13, 13);
    font-size: 10px;
}

.header {
    background-color: chartreuse;
    width: 100%;
    height: 40px;
    text-align: center;
}

.header p {
    padding-top: 10px;   
}

.footer {
    background-color: cornflowerblue;
    width: 100%;
    height: 40px;
    text-align: center;
}

.footer p {
    padding-top: 10px;   
}


.styleul {
    list-style-type: square;
    list-style-image: url('../img/vini+.png');
}

img {
    width: 400px;
    height: auto;
}