
h2, h3, h4 {
    color: darkblue;
    display: inline-block;
    font: italic small-caps bold "Open Sans";
}

img {
    max-width: 100%;
    height: auto;
}
div{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.profile {
    display: flex;
    flex-grow: 4;
    justify-content: space-between; 
    align-items: center;
}

#desc{
    margin-left: 20px;  
}


